@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400&family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
}
body::-webkit-scrollbar
{
    display: none;
}
.BG
{
    position: fixed;
    z-index: -1;
    transition: background 0.2s ease;
}
.overlay
{
    transition: 1.5s;
}
.brutalBG
{
    position: fixed;
    z-index: -2;
    transition: background 0.2s ease;
}
body{
    /* background-image: url(BG2.png); */
    background-size: cover;
}
.main
{
    width: 90%;
    height: 3000px;
    background-color:rgba(229, 180, 255, 0.3);
    color: blueviolet;
    margin-left: 5%;
    z-index: 0;
    transition: 1s;
    display: flex;
    align-content: center;
    border-left:  5px solid rgba(101, 0, 155, 0.3);
    border-right:  5px solid rgba(101, 0, 155, 0.3);
    flex-direction: column;
}



.About_Us
{
    width: 100%;
    height: 20%;
    background-color: rgba(145, 114, 248, 0.1);
    border-right: solid rgba(27, 8, 58, 0.35) 2px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.About_Us_title
{
    font-family: 'Manrope', sans-serif;
    color: #251352;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.About_Us_text
{
    font-family: 'Pacifico', cursive;
    color: #0e0533;
    font-size: 45px;
    text-align: center;
}
.About_Us:hover
{
    backdrop-filter: brightness(108%);
}
.About_Us h2:first-letter
{
    color: #633bb7;
}


.discord
{
    width: 100%;
    height: 800px;
    background-color: rgba(145, 114, 248, 0.1);
    border-right: solid rgba(27, 8, 58, 0.35) 2px ;
    border-top: solid 2px rgba(101, 27, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.1s;
}
.discord_h2
{
    font-family: 'Manrope', sans-serif;
    color: #251352;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 50px;
    transition: 1s;
}
.discord_span {
    font-family: 'Pacifico', cursive;
    color: #0e0533;
    font-size: 45px;
    text-align: center;
}
.widgetBody-38iyIo
{
    background-color: rgb(207 167 202 / 80%);
}