.navigation
{
    position: fixed;
    width: 20%;
    height: 100%;
    backdrop-filter: blur(12px);
    background-color: rgba(26, 0, 89, 0.1);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 40px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    margin-left: -20%;
    border-right-width: 15px;
    border-right-style: solid;
    border-right-color: rgba(120, 0, 255, 0.8);
    transition: 0.8s ease;
    overflow-y: scroll;
}
.navigation::-webkit-scrollbar
{
  width: 0px;
}
.nav_title{
  margin-top: 20%;
  color: rgb(0, 0, 97);
}
.navigation_title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}
.navigation_button::before
{
   content: "|  ";
   color: rgb(224, 197, 250);
}
.nav_title::first-letter
{
    color: rgb(53, 0, 102);
}
.navigation_button
{
    margin-top:10px;
    font-size: 50px;
    margin-bottom: 5px;
    transition: ease 0.3s;
    font-family: 'Work Sans', sans-serif;
}
.navigation_button:hover
{
    font-size: 55px;
    color: rgb(84, 0, 163);
    margin-bottom: 10px;
}

.navigation:hover
{
    margin-left: 0px;
}
.blur
{
    width: 35%;
    height: 6%;
    background-color: rgba(123, 58, 231, 0.05);
    backdrop-filter: blur(40px);
    overflow: visible;
    transition: 0.25s;
    color: rgba(27, 9, 70, 0.7);
    border-radius: 5px;
    text-align: justify-all;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}
.blur::before
{
    content: "|   ";
    color: rgb(224, 197, 250);
}
.navigation_list
{
    height: 240px;
    margin-top: -15%;
}
.navigation_button:nth-child(4)
{
    margin-bottom: 15%;
}
.blur:hover
{
    font-size: 55px;
    color: rgb(84, 0, 163);
    width: 40%;
}
.button_blurred
{
    filter: blur(2px);
}
.night_navigation
{
    background-color: rgba(210, 184, 246, 0.25);
    filter: brightness(140%);
    transition: 1.5s;
}
.overlay_button
{
    width: 35%;
    height: 6%;
    background-color: rgba(123, 58, 231, 0.05);
    backdrop-filter: blur(40px);
    overflow: visible;
    transition: 0.25s;
    color: rgba(27, 9, 70, 0.7);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
}
.overlay_button::before {
    content: "|   ";
    color: rgb(224, 197, 250);
}
.overlay_button:hover
{
    font-size: 50px;
    color: rgb(84, 0, 163);
    width: 40%;
}
.settings_title
{
    font-family: 'Raleway', sans-serif;
}